.nav_wrapper {
    height: 100vh;
    background-color: #67c7f7;
    padding: 30px 15px;
    text-align: left;
    color: white;
}

.min {
    text-align: center;
}

.icon {
    display:inline-flex;
    cursor: pointer;
    margin: 3px;
}

.text_user {
    cursor: pointer;
    padding-left: 10px;
}

.text_temp {
    cursor: pointer;
    padding-left: 16px;

}

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 80vh;
    cursor: pointer;
}
